@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');



body{
    text-align: center;
    background-color:yellow;
    align-items: center;
    justify-content: center;
}

#main-container{
    background-color:transparent;
    margin-top: 100px;
    height:300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#quote{
    margin-bottom: 20px;
}

#post{
    width: 186px;
    background-color:transparent;
    border: 2px solid;
    border-color:transparent;
    box-shadow:6px 6px black;
    transition: all 0.3s ease-in-out;
}


#title{
    font-family: 'Reggae One', cursive;
}

#form{
    margin-top:50px;
    
    background-color:transparent;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#post:hover{
    width: 186px;
    background-color:transparent;
    border: 2px solid;
    border-color:transparent;
    box-shadow:4px 4px black;
    
}

#back{
    background-color: transparent;
    border: 2px solid;
    border-color:transparent;
    top: 0;
    left: 0;
    position: fixed;
    width: 40px;
    height: 40px;
    font-size: 20px;

}

#quote{
    box-shadow: 6px 6px black;
    transition: all 0.3s ease-in-out;
}

#quote:hover{
    box-shadow: 4px 4px black;
}