@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
body{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:darkblue;
    
}

.main-container{
    text-align: center;
    background-color:   aqua;
    /* margin-top: 200px; */
    width: 500px;
    height: 500px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: 20px 20px black;
    transition: all 0.3s ease-in-out;
}

#password{
    margin-top: 40px;
    height: 20px;
    background-color: transparent;
    border: 2px solid;
    border-color: white;
    font-size:15px;
    border-radius:20px;
    transition: all 0.3s ease-in-out;
    font-family: 'Reggae One', cursive;
}

#sign-up{
    margin-top: 30px;
    padding: 6px;
    width: 200px;
    background-color:transparent;
    border: 2px solid;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
    margin-left: 50px;
    font-family: 'Reggae One', cursive;
    border-color:transparent;
    box-shadow: 2px 2px black;
}

#form{
    /* margin-top: 400px; */
    background-color: transparent;
    position: fixed;
    margin-top: 150px;
    font-size: 20px;
    margin-left: 80px;
    height: 200px;
    width: 229px;
}

#email{
    border: 2px solid;
    border-color:white;
    font-size:15px;
    border-radius: 20px;
    height: 20px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    font-family: 'Reggae One', cursive;
    
}

#email:hover{
    border: 2px solid;
    border-color:transparent;
    font-size:15px;
    height: 20px;
    background-color: white;
    

}

#password:hover{
    margin-top: 40px;
    height: 20px;
    background-color: white;
    border: 2px solid;
    border-color: transparent;
    font-size:15px;
    font-family: 'Reggae One', cursive;

}


#sign-up:hover{
    margin-top: 30px;
    padding: 6px;
    color: black;
    background-color:white;
    border: 2px solid;
    border-color:transparent;
}


.main-container:hover{
    text-align: center;
    background-color: aqua;
    /* margin-top: 200px; */
    width: 500px;
    height: 500px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
   box-shadow: 2px 2px black;
} 

h1{
    font-size: 40px;
    color: white;
    text-shadow: 6px 6px black;
    font-family: 'Reggae One', cursive;
}

.title{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    text-shadow: 6px 6px black;
    font-family: 'Reggae One', cursive;
}


